openapi: 3.0.3
info:
  title: VNDIRECT Stocks API
  version: 1.0.0
  description: API for retrieving stock information from VNDIRECT

servers:
  - url: https://api-finfo.vndirect.com.vn
  - url: https://dchart-api.vndirect.com.vn

paths:
  /v4/stocks:
    get:
      tags:
        - Stock
      summary: Get list of stocks
      operationId: getStocks
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  currentPage:
                    type: integer
                    example: 1
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          example: 'ENF'
                        companyId:
                          type: string
                          example: '3903'
                        companyName:
                          type: string
                          example: 'Quỹ Đầu tư Năng động Eastspring Investments Việt Nam'
                        companyNameEng:
                          type: string
                          example: 'Eastspring Investments Vietnam Navigator Fund'
                        delistedDate:
                          type: string
                          format: date
                          example: '2001-01-01'
                        floor:
                          type: string
                          example: 'UPCOM'
                        listedDate:
                          type: string
                          format: date
                          example: '2001-01-01'
                        shortName:
                          type: string
                          example: 'Quỹ đầu tư ENF'
                        status:
                          type: string
                          example: 'delisted'
                        type:
                          type: string
                          example: 'IFC'
                  size:
                    type: integer
                    example: 9999
                  totalElements:
                    type: integer
                    example: 1958
                  totalPages:
                    type: integer
                    example: 1
  /v4/news:
    get:
      tags:
        - News
      summary: Get filtered news list
      operationId: getNews
      parameters:
        - name: q
          in: query
          description: Filter query for news, e.g., `newsSource:VNECONOMY,TAPCHICONGTHUONG~newsType:banking_finance_news,stock_news,company_news`
          required: true
          schema:
            type: string
        - name: sort
          in: query
          description: Sort field, e.g., `newsDate:desc~newsTime:desc`
          required: false
          schema:
            type: string
        - name: size
          in: query
          description: Number of results per page
          required: false
          schema:
            type: integer
            default: 100
        - name: page
          in: query
          description: Page number
          required: false
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  currentPage:
                    type: integer
                    example: 1
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        dstockUrl:
                          type: string
                          example: 'https://dstock.vndirect.com.vn/tin-tuc/tin-chung-khoan/10713362'
                        hotNews:
                          type: string
                          example: 'N'
                        locale:
                          type: string
                          example: 'VN'
                        newsAbstract:
                          type: string
                          example: 'Thị trường liên tục quay về mức đỉnh lịch sử...'
                        newsContent:
                          type: string
                          example: '<body>...</body>'
                        newsDate:
                          type: string
                          format: date
                          example: '2025-07-27'
                        newsGroup:
                          type: string
                          example: 'stock_news'
                        newsId:
                          type: string
                          example: '10713362'
                        newsSource:
                          type: string
                          example: 'VNECONOMY'
                        newsTime:
                          type: string
                          example: '11:37:07'
                        newsTitle:
                          type: string
                          example: 'VN-Index liên tiếp lên đỉnh...'
                        newsType:
                          type: string
                          example: 'stock_news'
                        newsUrl:
                          type: string
                          example: 'https://vneconomy.vn/vn-index-lien-tiep-len-dinh...'
                        tagCodes:
                          type: string
                          example: 'GEE,SHB,HSG'
                        thumbnailUrl:
                          type: string
                          example: 'https://media.vneconomy.vn/w800/images/upload//2025/07/27/lo-tau-1.jpg'
                  size:
                    type: integer
                    example: 12
                  totalElements:
                    type: integer
                    example: 15420
                  totalPages:
                    type: integer
                    example: 1285
  /dchart/history:
    get:
      tags:
        - Chart
      summary: Get historical stock chart data
      operationId: getChartHistory
      parameters:
        - name: resolution
          in: query
          required: true
          description: Time resolution (e.g., 1D, 1W, 1)
          schema:
            type: string
            example: 1D
        - name: symbol
          in: query
          required: true
          description: Stock symbol (e.g., CSC)
          schema:
            type: string
            example: CSC
        - name: from
          in: query
          required: false
          description: Start timestamp (Unix time)
          schema:
            type: integer
        - name: to
          in: query
          required: false
          description: End timestamp (Unix time)
          schema:
            type: integer
      responses:
        '200':
          description: Historical price data returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  t:
                    type: array
                    description: List of timestamps (Unix time)
                    items:
                      type: integer
                    example: [1622505600, 1622592000, 1622678400]
                  c:
                    type: array
                    description: Closing prices
                    items:
                      type: number
                    example: [20.5, 21.0, 21.3]
                  o:
                    type: array
                    description: Opening prices
                    items:
                      type: number
                    example: [20.0, 20.8, 21.1]
                  h:
                    type: array
                    description: High prices
                    items:
                      type: number
                    example: [21.0, 21.5, 21.6]
                  l:
                    type: array
                    description: Low prices
                    items:
                      type: number
                    example: [19.8, 20.5, 21.0]
                  v:
                    type: array
                    description: Volume data
                    items:
                      type: number
                    example: [100000, 150000, 130000]
                  s:
                    type: string
                    description: Status of the response
                    example: 'ok'
